input{
    margin-top: 20px;
}
#botonesBusqueda{
    margin-left: 6em;
}
.thead-dark{
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

.pendiente{
    color: #000;
    background-color: #F8E741;
    border-color: #454d55;
}

.revisando{
    color: #000;
    background-color: #F89441;
    border-color: #454d55; 
}

.correcto{
    color: #000;
    background-color: #34C734;
    border-color: #454d55;
}

.discrepancia{
    color: #000;
    background-color: #F64146;
    border-color: #454d55;
}

#estatus{
    margin-top: 20px;
}

.notaDeCredito{
    color: #F70006;
}