input{
    margin-top: 20px;
}
#botonesBusqueda{
    margin-left: 6em;
}
.thead-dark{
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

.importeIncorrecto{
    color: #F70006;
}

.borrar{
    margin-top: 1.2em;
}