input{
    margin-top: 20px;
}
#botonesBusqueda{
    margin-left: 6em;
}
.thead-dark{
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

.noAsociado{
    color: #000;
    background-color: #F89441;
    border-color: #454d55; 
}

.asociado{
    color: #000;
    background-color: #34C734;
    border-color: #454d55;
}

.cancelado{
    color: #000;
    background-color: #F64146;
    border-color: #454d55;
}

#estatus{
    margin-top: 20px;
}