input{
    margin-top: 20px;
}
#botonesBusqueda{
    margin-left: 6em;
}
.thead-dark{
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

.metodo{
    margin-top: 1.4em;
}

.fechaDeCobranza{
    margin-top: 2em;
}